@import "../../assets/css/index";
.tag {
    @include font-custom-simple("PingFang SC", 0.7rem, $c-white);
    @extend .flex-row-centerP-centerS;
    height: 18px;
    border-radius: 5px;
    background-color: $c-primary-8;
    margin-right: 8px;
    padding: 0 5px;
}