@import "../../assets/css/index.scss";
@import "../../assets/css/animation.scss";
@font-face {
    font-family: cb;
    src: local('cb'), url("../../assets/font/custom-black.otf") format('opentype');
}

.home {
    width: 100%;
    height: 100%;
    .header {
        position: fixed;
        width: 100%;
        min-height: 60px;
        z-index: 600;
        .top-bar {
            @extend .flex-row-centerP-centerS;
            position: absolute;
            left: 10%;
            padding: 20px 0;
            .top-bar-icon {
                @extend .flex-column-centerP-centerS;
                width: 40px;
                height: 40px;
                color: transparent;
                cursor: pointer;
                .top-bar-line {
                    background-color: $c-primary;
                    width: 22px;
                    height: 3px;
                    position: relative;
                    &::before {
                        content: "";
                        width: 22px;
                        height: 3px;
                        top: -8px;
                        position: absolute;
                        background-color: $c-primary;
                    }
                    &::after {
                        content: "";
                        width: 22px;
                        height: 3px;
                        bottom: -8px;
                        position: absolute;
                        background-color: $c-primary;
                    }
                }
            }
            .top-bar-label {
                @include font-custom("cb",
                2.5vmin,
                $c-white,
                normal,
                4px);
                margin-left: 10px;
            }
            .main-nav {
                position: absolute;
                top: 100%;
                left: 6px;
                max-height: 200px;
                opacity: 0;
                &.main-nav-hide {
                    @extend .fadeOutUp;
                    opacity: 0;
                }
                &.main-nav-show {
                    @extend .fadeInDown;
                    opacity: 1;
                }
                li {
                    @include font-custom("cb",
                    1.8vmin,
                    $c-white,
                    normal,
                    4px);
                    margin-bottom: 15px;
                    cursor: pointer;
                }
            }
        }
    }
    .footer {
        @extend .flex-row-centerP-centerS;
        position: fixed;
        bottom: 0;
        width: 100%;
        min-height: 100px;
        z-index: 600;
        .contact {
            @extend .flex-row-spacebetweenP-centerS;
            .contact-icon {
                width: 30px;
                height: 30px;
                margin: 0 15px;
                cursor: pointer;
                &.qq {
                    background: url("../../assets/image/qq.svg") no-repeat;
                    background-size: 100% 100%;
                }
                &.wechat {
                    background: url("../../assets/image/wechat.svg") no-repeat;
                    background-size: 100% 100%;
                }
                &.github {
                    background: url("../../assets/image/github.svg") no-repeat;
                    background-size: 100% 100%;
                }
                &.csdn {
                    background: url("../../assets/image/csdn.svg") no-repeat;
                    background-size: 100% 100%;
                    width: 45px;
                    height: 45px;
                    margin: 0 15px 0 7px;
                }
                &.youku {
                    background: url("../../assets/image/youku.svg") no-repeat;
                    background-size: 100% 100%;
                    width: 80px;
                    height: 80px;
                    margin: 3px 5px 0;
                }
                &:hover {
                    transition: all 0.5s ease;
                    transform: scaleX(1.3) scaleY(1.3)
                }
            }
        }
    }
}