@import "../../assets/css/index";

@font-face {
    font-family: showg;
    src: local('showg'), url("../../assets/font/showg.ttf") format('opentype');
}

.moodule-blog {

    .tags-ul {
        @extend .flex-row-wrapP-centerS;
        padding: 1.3rem 1.3rem 0;

        &>li {
            @include font-custom("PingFang SC", 0.6rem, $c-888);
            padding: 0.3rem;
            margin: 0.3rem;
            border-radius: 15px;
            background-color: $c-module-background;

            &.active {
                @include font-custom("PingFang SC", 0.6rem, $c-primary);
                background-color: $c-primary-5;
            }
        }
    }

    .blog-ul {
        padding: 1.3rem;
        background-color: $c-page-background;
        margin-bottom: 3rem;

        .blog-li {
            @extend .flex-row;
            padding: 0.8rem;
            border-radius: 10px;
            background-color: $c-module-background;
            margin-bottom: 1rem;

            &:last-child {
                margin-bottom: 0;
            }

            .item-view {
                @extend .flex-column;
                width: 100%;

                .title {
                    @include font-custom("PingFang SC", 0.7rem, $c-aaa);
                    height: 40px;
                }

                .tag-view {
                    @extend .flex-row-centerS;

                    .tags-icon {
                        width: 0.6rem;
                        height: 0.6rem;
                        margin-right: 0.5rem;
                        background: url("../../assets/image/home/tags.svg") no-repeat;
                        background-size: 100% 100%;
                    }
                }

                .date {
                    align-self: flex-end;
                    @include font-custom("showg",
                    0.6rem,
                    $c-aaa,
                    normal);
                    margin-top: 0.6rem;
                }
            }
        }

        a {
            @include font-custom("PingFang SC", 0.7rem, $c-aaa);
            word-break: break-all;
            cursor: pointer;
        }
    }
}