@import "../../assets/css/color";

.base-btn{
  padding: 20px 25px;
  font-size:14px;
  border-radius: 0;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s ease;
  background-color: transparent;
  border: 2px solid $c-white-3;
  color:$c-white;
}