@import "../../assets/css/color";
@import "../../assets/css/animation.scss";
.base-btn {
    padding: 0.6rem 0.8rem;
    font-size: 0.56rem;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    background-color: transparent;
    border: 2px solid $c-white-3;
    color: $c-white;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    &:active {
        border: 2px solid rgba(255, 211, 6, 0.8);
        transition: border-color 0.5s ease;
    }
    &:after {
        content: "";
        position: absolute;
        background: rgba(255, 211, 6, 0.8);
        height: 0%;
        width: 100%;
        top: 50%;
        left: 50%;
        transition: height 0.5s ease;
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
        z-index: -1;
    }
    &:hover,
    &:active:after {
        height: 400%;
    }
    &:active {
        background: rgba(255, 211, 6, 1);
    }
}