.animated {
    animation-duration: 0.3s;
    animation-fill-mode: none;
    animation-timing-function: linear;
}

.slideInDown {
    @extend .animated;
    animation-name: slideInDown;
}

.slideOutUp {
    @extend .animated;
    animation-name: slideOutUp;
}

.fadeInDown {
    @extend .animated;
    animation-name: fadeInDown;
}

.fadeOutUp {
    @extend .animated;
    animation-name: fadeOutUp;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
}

@keyframes slideInDown {
    from {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideOutUp {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        visibility: hidden;
        transform: translate3d(0, -100%, 0);
    }
}