@charset "UTF-8";

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

img {
    border: none;
}

em,
strong {
    font-style: normal;
    font-weight: normal;
}

li {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1 {
    font-size: 18px;
}

input {
    outline: none;
}

q:before,
q:after {
    content: "";
}

/* 消除q前后的内容 */

button,
input,
select,
textarea {
    font-size: 100%;
}

/* 使得表单元素在 ie 下能继承字体大小 */

input,
button,
textarea,
select,
optgroup,
option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

address,
cite,
dfn,
em,
var {
    font-style: normal;
}

/* 将斜体扶正 */

body {
    font-family: 'Microsoft YaHei', Verdana, sans-serif;
}

a,
a:hover {
    color: #3c88f0;
    text-decoration: none;
}

.hide {
    display: none !important;
}

.clear {
    clear: both;
}

body {
    font-family: PingFangSC-Regular, "Helvetica Neue", Helvetica, Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", "WenQuanYi Micro Hei", sans-serif;
    background-color: #FFFFFF;
}

/* link */

a,
a:hover {
    color: #3c88f0;
    text-decoration: none;
}

html,
body,
#root {
    height: 100%;
    font-size: 125%;
    background-color: #0f0f0f;
}

.clearfix {
    overflow: auto;
    _height: 1%;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.page-bg {
    width: 100%;
    background-color: rgba(17, 17, 17, 1);
    background-size: 100% 100%;
    color: #FFF;
}