$c-primary:#FFD306; //rgb(255,211,6)
$c-primary-8:rgba(255, 211, 6, 0.8);
$c-primary-5:rgba(255, 211, 6, 0.5);
$c-primary-3:rgba(255, 211, 6, 0.3);
$c-white:#FFF;
$c-white-8:rgba(255, 255, 255, 0.8);
$c-white-5:rgba(255, 255, 255, 0.5);
$c-white-3:rgba(255, 255, 255, 0.3);
//黑背景色
$c-black-bg:#272727