@mixin font-custom($fontFamily:"PingFang SC", $fontSize:14px, $fontColor:#000, $fontWeight:normal, $letterSpacing:1px) {
    font-family: $fontFamily, "PingFang SC", "Microsoft YaHei", "微软雅黑", "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
    font-size: $fontSize;
    color: $fontColor;
    font-weight: $fontWeight;
    letter-spacing: $letterSpacing;
    text-indent: $letterSpacing+1px;
}

@mixin font-custom-simple($fontFamily:"PingFang SC", $fontSize:14px, $fontColor:#000) {
    font-family: $fontFamily, "PingFang SC", "Microsoft YaHei", "微软雅黑", "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
    font-size: $fontSize;
    color: $fontColor;
}

.font-common {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    line-height: normal;
    font-family: "PingFang SC", "Microsoft YaHei", "微软雅黑", "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
}