@import "../../assets/css/index";
@font-face {
    font-family: cb;
    src: local('cb'), url("../../assets/font/custom-black.otf") format('opentype');
}

@font-face {
    font-family: showg;
    src: local('showg'), url("../../assets/font/showg.ttf") format('opentype');
}

.intro {
    @extend .flex-row-centerP-centerS;
    background: rgba(17, 17, 17, 1) url(../../assets/image/intro-bg.jpg) no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    .intro-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(17, 17, 17, 0.8);
        z-index: -1;
    }
    .intro-view {
        @extend .flex-column-centerP-centerS;
        .head {
            @include font-custom("showg",
            1rem,
            $c-primary,
            bold,
            2px);
        }
        .welcome {
            @include font-custom("showg",
            3.5rem,
            $c-white,
            bold,
            5px);
        }
        .tag {
            @extend .flex-row-centerP-centerS;
            margin-top: 0.4rem;
            .tag-icon {
                width: 0.64rem;
                height: 0.64rem;
                &.left {
                    background: url("../../assets/image/code.svg") no-repeat;
                    background-size: 100% 100%;
                    margin-right: 0.4rem;
                }
                &.right {
                    background: url("../../assets/image/music.svg") no-repeat;
                    background-size: 100% 100%;
                    margin-left: 0.4rem;
                }
                &:hover {
                    transition: all 0.5s ease;
                    transform: scaleX(1.3) scaleY(1.3) rotateY(180deg)
                }
            }
            .tag-item {
                @include font-custom("cb",
                0.4rem,
                $c-white-8,
                normal);
            }
            .divide {
                height: 0.6rem;
                border-right: 1px solid $c-white-8;
                margin: 0 0.6rem;
            }
        }
        .more-btn {
            @include font-custom("showg",
            0.5rem,
            $c-white,
            normal,
            4px);
            margin-top: 2.4rem;
        }
    }
}