@import "../../assets/css/index.scss";

@font-face {
    font-family: cb;
    src: local('cb'), url("../../assets/font/custom-black.ttf") format('opentype');
}

.footer {
    @extend .flex-row-centerP-centerS;
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0;

    @at-root .menu {
        width: 100%;
        height: 100%;
        @extend .flex-row-spacearoundP-centerS;
        background-color: #0f0f0f;

        li {
            @extend .flex-column-spacearoundP-centerS;
            height: 90%;
            cursor: pointer;

            .icon {
                width: 1.6rem;
                height: 1.6rem;

                &.about {
                    background: url("../../assets/image/menu-user.svg") no-repeat;
                    background-size: 100% 100%;
                }

                &.skills {
                    background: url("../../assets/image/wechat.svg") no-repeat;
                    background-size: 100% 100%;
                }

                &.work {
                    background: url("../../assets/image/github.svg") no-repeat;
                    background-size: 100% 100%;
                }

                &.music {
                    background: url("../../assets/image/csdn.svg") no-repeat;
                    background-size: 100% 100%;
                }

                &.contact {
                    background: url("../../assets/image/youku.svg") no-repeat;
                    background-size: 100% 100%;
                }
            }

            .label {
                @extend .flex-row-centerP-centerS;
                @include font-custom("cb",
                0.6rem,
                $c-white,
                normal,
                4px);
            }
        }
    }
}